body {
    background: rgb(58,53,131);
    background: linear-gradient(90deg, rgba(58,53,131,1) 0%, rgba(9,107,121,1) 35%, rgba(0,212,255,1) 100%);
}

* {
    box-sizing: border-box;
}
.board {
    /* background-color: rgb(27, 122, 206); */
    display: flex;
    margin: 100px auto;
    padding: 10px;
    flex-wrap: wrap;
    width: 980px;
}

.card {
    padding: 20px;
    display: block;
    margin: 10px;
    width: 200px;
    height: 200px;
    background-size: contain;
    cursor: pointer;
}

.card:hover {
    background-color: rgba(75, 184, 111, 0.6);
}

.hidden {
    opacity: 0;
}

.tile {
    background-color: rgb(184, 190, 190);
    margin: 10px;
}

.tile:hover {
    background-color: rgba(75, 184, 111, 0.6);
}